
.landing-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  height: 400px;
  position: relative;
  z-index: 1;
}

.logo-container{
  height: auto;
  width: 80%;
  max-width: 30rem;
}

.logo-container img{
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

  .kwizzard{
    padding-bottom: 10px;
    padding-left: 40px;
    height:200px;
    box-sizing: border-box;
}

  .player-input-wrapper{
    width: 250px;
  }
  
  .logo-host{
    position: relative;
    z-index: 1;
  }

  .input-user{
    border: .125rem solid #ccc;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-align: center;
    font-size: 20px;
    transition: border linear .2s;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;  
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .btn-enter{
    display: block;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    border: 2px #8B76A5 solid;
    border-radius: var(--border-radius-sm);
    color: #8B76A5;
    background-color: transparent;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    z-index: 100;
    transition-duration: .1s;
    cursor: pointer;
  }

  .btn-enter:hover{
    color: var(--dark-color);
    background-color: #8B76A5;
  }

  .btn-host{
    display: block;
    text-align: center;
    border-radius: var(--border-radius-sm);
    border: var(--red-color) 2px solid;
    color: var(--red-color);
    background-color: transparent;
    vertical-align: center;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 20px;
    transition-duration: .1s;
  }

  .btn-host:hover{
    color: var(--dark-color);
    background-color: var(--red-color);
  }
  
  .logo{
    width: 300px;
    margin-top: 100px;
  }

  
  @media(min-width:700px){
    .landing-wrapper{
        width:100%;
        justify-content: center;
    }

    .kwizzard{
      height: 300px;
      padding-left: 0%;
      z-index: 100;
    }
  
  }