.kwizz-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 4px;
    padding: 24px;
    box-shadow:  0 4px 6px 1px rgba(0, 0, 0, 0.185);
    margin-bottom: 20px;
}

.btn-play, .btn-delete{
    display: block;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    border-radius: 2px;
    border: none;
    color: #fff;
    background: #8B76A5;
    width: auto;
    height:2.5rem;
    font-weight: 600;
    font-size: 20px;
    transition: 250ms
}

.btn-play:hover, .btn-delete:hover{
    transform: scale(1.05)
}

.btn-delete{
    background-color: #E97A7A;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}

.btn-new{
    display: block;
    border: none;
    text-align: center;
    padding-top: 12px;
    border-radius: 2px;
    background-color: #8B4F80;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    transition-duration: .2s;
}

.btn-new:hover{
    transform: scale(1.05)
}

.newKwizz{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px
}

.ok-go-div{
    padding-top: 20px;
}

.ok-go{
    margin: 0 auto;
}

.mapped-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333333;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700; 
}

.mapped-Kwizzes-container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.host-logo-container{
    height: auto;
    width: 80%;
    max-width: 30rem;
}

.host-logo-container img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.new-kwizz-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 800px;
    box-sizing: border-box;
    background-color: #8B4F80;
    border-radius: 6px;
    padding: 20px;
}

*:focus{
    outline: none;
}

.title-input, .desc-input{
    margin-bottom: 3rem;
    width: 20rem;
    height: 1.5rem;
    border: none;
    border-bottom: 2px solid currentColor;
    font-size: 1em;
    background-color: transparent;
    color: white;
}

.input-container{
    position: relative;
}

.input-container label{
    position: absolute;
    top: 0px;
    left: 2px;
    pointer-events: none;
    transition-duration: .2s;
    color: var(--primary-color);
}

.input-container input:focus + label, .input-container input:not(:placeholder-shown) + label{
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 0.8em;
    color: white;
}







