*{
  font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
  box-sizing: border-box !important;
}

.component-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
  width: 100%;
}

@media(min-width:700px){
  .component-container{
    justify-content: center;
  }
 }
 